USE [master]
GO
/****** Object:  Database [HealthInsuranceProj]    Script Date: 09-03-2026 20:33:08 ******/
CREATE DATABASE [HealthInsuranceProj]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HealthInsuranceProj', FILENAME = N'C:\Users\ruchi\HealthInsuranceProj.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HealthInsuranceProj_log', FILENAME = N'C:\Users\ruchi\HealthInsuranceProj_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HealthInsuranceProj].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HealthInsuranceProj]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09-03-2026 20:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 09-03-2026 20:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[ClaimId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[ClaimAmount] [decimal](18, 2) NOT NULL,
	[ClaimReason] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[ProcessedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ProcessedAt] [datetime2](7) NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[ApprovalReason] [nvarchar](max) NULL,
 CONSTRAINT [PK_Claims] PRIMARY KEY CLUSTERED 
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerPolicies]    Script Date: 09-03-2026 20:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerPolicies](
	[PolicyId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [nvarchar](max) NOT NULL,
	[PlanId] [int] NOT NULL,
	[TierId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AgentId] [int] NOT NULL,
	[ClaimsOfficerId] [int] NOT NULL,
	[EntryAge] [int] NOT NULL,
	[BasePremium] [decimal](18, 2) NOT NULL,
	[AgeLoading] [decimal](18, 2) NOT NULL,
	[TaxAmount] [decimal](18, 2) NOT NULL,
	[TotalPremium] [decimal](18, 2) NOT NULL,
	[CommissionPercentage] [decimal](18, 2) NOT NULL,
	[CommissionAmount] [decimal](18, 2) NOT NULL,
	[AnnualMaxCoverage] [decimal](18, 2) NOT NULL,
	[RemainingCoverageAmount] [decimal](18, 2) NOT NULL,
	[RestoresUsedThisYear] [int] NOT NULL,
	[NomineeName] [nvarchar](max) NOT NULL,
	[NomineeRelation] [nvarchar](max) NOT NULL,
	[IssueDate] [datetime2](7) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[HeightCm] [decimal](18, 2) NOT NULL,
	[IsSmoker] [bit] NOT NULL,
	[MobileNumber] [nvarchar](max) NOT NULL,
	[PlanType] [nvarchar](max) NOT NULL,
	[PolicyStartDate] [datetime2](7) NOT NULL,
	[WeightKg] [decimal](18, 2) NOT NULL,
	[DecisionReason] [nvarchar](max) NULL,
	[PreExistingDiseases] [nvarchar](max) NULL,
 CONSTRAINT [PK_CustomerPolicies] PRIMARY KEY CLUSTERED 
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 09-03-2026 20:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyId] [int] NULL,
	[ClaimId] [int] NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsurancePlans]    Script Date: 09-03-2026 20:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsurancePlans](
	[PlanId] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](max) NOT NULL,
	[PlanType] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_InsurancePlans] PRIMARY KEY CLUSTERED 
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nominees]    Script Date: 09-03-2026 20:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nominees](
	[NomineeId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[NomineeName] [nvarchar](max) NOT NULL,
	[Relationship] [nvarchar](max) NOT NULL,
	[NomineeAge] [int] NOT NULL,
	[PercentageShare] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Nominees] PRIMARY KEY CLUSTERED 
(
	[NomineeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 09-03-2026 20:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[AmountPaid] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](max) NOT NULL,
	[PaymentStatus] [int] NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanTiers]    Script Date: 09-03-2026 20:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanTiers](
	[TierId] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[TierName] [nvarchar](max) NOT NULL,
	[BasePremium] [decimal](18, 2) NOT NULL,
	[BaseCoverageAmount] [decimal](18, 2) NOT NULL,
	[AgeLockProtection] [bit] NOT NULL,
	[CoverageRestoreEnabled] [bit] NOT NULL,
	[MaxRestoresPerYear] [int] NOT NULL,
	[BoosterMultiplier] [int] NOT NULL,
	[PreExistingDiseaseWaitingMonths] [int] NOT NULL,
	[CoPaymentPercentage] [decimal](18, 2) NOT NULL,
	[CommissionPercentage] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PlanTiers] PRIMARY KEY CLUSTERED 
(
	[TierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09-03-2026 20:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [int] NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerPolicies_PlanId]    Script Date: 09-03-2026 20:33:08 ******/
CREATE NONCLUSTERED INDEX [IX_CustomerPolicies_PlanId] ON [dbo].[CustomerPolicies]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerPolicies_TierId]    Script Date: 09-03-2026 20:33:08 ******/
CREATE NONCLUSTERED INDEX [IX_CustomerPolicies_TierId] ON [dbo].[CustomerPolicies]
(
	[TierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlanTiers_PlanId]    Script Date: 09-03-2026 20:33:08 ******/
CREATE NONCLUSTERED INDEX [IX_PlanTiers_PlanId] ON [dbo].[PlanTiers]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 09-03-2026 20:33:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerPolicies] ADD  DEFAULT (N'') FOR [Address]
GO
ALTER TABLE [dbo].[CustomerPolicies] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DateOfBirth]
GO
ALTER TABLE [dbo].[CustomerPolicies] ADD  DEFAULT (N'') FOR [FullName]
GO
ALTER TABLE [dbo].[CustomerPolicies] ADD  DEFAULT (N'') FOR [Gender]
GO
ALTER TABLE [dbo].[CustomerPolicies] ADD  DEFAULT ((0.0)) FOR [HeightCm]
GO
ALTER TABLE [dbo].[CustomerPolicies] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsSmoker]
GO
ALTER TABLE [dbo].[CustomerPolicies] ADD  DEFAULT (N'') FOR [MobileNumber]
GO
ALTER TABLE [dbo].[CustomerPolicies] ADD  DEFAULT (N'') FOR [PlanType]
GO
ALTER TABLE [dbo].[CustomerPolicies] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [PolicyStartDate]
GO
ALTER TABLE [dbo].[CustomerPolicies] ADD  DEFAULT ((0.0)) FOR [WeightKg]
GO
ALTER TABLE [dbo].[InsurancePlans] ADD  DEFAULT (N'') FOR [Description]
GO
ALTER TABLE [dbo].[PlanTiers] ADD  DEFAULT (N'') FOR [Description]
GO
ALTER TABLE [dbo].[CustomerPolicies]  WITH CHECK ADD  CONSTRAINT [FK_CustomerPolicies_InsurancePlans_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[InsurancePlans] ([PlanId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerPolicies] CHECK CONSTRAINT [FK_CustomerPolicies_InsurancePlans_PlanId]
GO
ALTER TABLE [dbo].[CustomerPolicies]  WITH CHECK ADD  CONSTRAINT [FK_CustomerPolicies_PlanTiers_TierId] FOREIGN KEY([TierId])
REFERENCES [dbo].[PlanTiers] ([TierId])
GO
ALTER TABLE [dbo].[CustomerPolicies] CHECK CONSTRAINT [FK_CustomerPolicies_PlanTiers_TierId]
GO
ALTER TABLE [dbo].[PlanTiers]  WITH CHECK ADD  CONSTRAINT [FK_PlanTiers_InsurancePlans_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[InsurancePlans] ([PlanId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlanTiers] CHECK CONSTRAINT [FK_PlanTiers_InsurancePlans_PlanId]
GO
USE [master]
GO
